body {
  font-family: "Poppins", sans-serif;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

/* Navigation (all pages)*/
nav li {
  display: inline;
}

/* header and headings (home page only)*/

header.hero {
  color: white;
  border: 1px solid lightgrey;
  text-align: center;
  background-image: url(../media/san_cristobal.jpg);
  background-size: cover;
  height: auto;
}
.hero a {
  margin: 30px auto;
}
.hero hgroup {
  padding: 150px 60px;
}

.hero h1 {
  font-size: 96px;
  color: white;
}

/* header and headings (all pge : home and secondary)*/

header a {
  display: inline-block;
  margin: 70px auto;
  padding: 16px 32px;
  font-weight: 700;
  letter-spacing: 3px;
  color: black;
  background-color: white;
  text-decoration: none;
}

header a:hover {
  background-color: #c1725c;
  color: white;
}

h1 {
  font-weight: 700;
  font-size: 74px;
  line-height: 1.5;
  color: #c24d2c;
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

h3 {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
}
/* not home pages:*/
header.secondary {
  background-image: url(../media/header.jpg);
  background-size: cover;
  height: 200px;
  margin-bottom: 40px;
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../media/header.jpg);*/
}
.secondary-page h3 {
  margin: 50px;
}

/* main content (all pages)*/

img {
  width: 100%;
  display: block;
}

section {
  padding: 80px 100px;
  max-width: 1200px;
}

main h2 {
  font-weight: 700;
  text-align: start;
  margin: 10px 0;
}
main h3 {
  font-size: 16px;
  opacity: 0.5;
  text-align: start;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0;
  text-align: center;
}

main p {
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.7;
  margin: 0;
  text-align: start;
}

figure {
  margin: 0;
  margin-bottom: 40px;
}
figcaption {
  font-size: 10px;
  font-style: italic;
}
/* main content (only some pages pages)*/
.jump-links {
  margin: 15px 0;
}
.jump-links a {
  color: black;
  opacity: 0.7;

  border: 1px solid grey;
  text-decoration: none;
}
.jump-links a:hover {
  opacity: 1;
  border: none;
}
/* card styling (currently only used on homepage*/

.card {
  background-color: #ffff;
  margin: 10px 0 60;
}

.card img {
  margin-bottom: 30px;
}

.card footer {
  margin: 30px 30px 50px;
  padding: 0;
  background: white;
}

.card p {
  margin: 0 15px;
  text-align: center;
}

.card a {
  display: block;
  color: white;
  background-color: #c24d2c;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  margin: 30px;
}
.card .btn:hover {
  background-color: #c1725c;
}

/* styling classes (all pages, wherever applied*/

.grey-background {
  background-color: whitesmoke;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 60px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
}
.grid-2-columns-no-gap {
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
}
.small-margin {
  margin: 20px 30px;
}

/* footer (all pages)*/
footer {
  padding: 50px 40px;
  background: linear-gradient(#c24d2c, #c1725c);
}

footer a {
  color: white;
  text-align: center;
  margin: 20px;
  font-size: 25px;
}

/* contact form:*/
.contact {
  margin: 70px 50px;
  padding: 50px;
  border-radius: 5px;
}
.secondary-page img {
  margin: 20px 30px 30px 0;
  box-sizing: border-box;
  border-radius: 5px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid grey;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 6px 0 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #c24d2c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #c1725c;
}

/* media query*/

@media (max-width: 800px) {
  /* header and headings (home page only)*/

  header.hero {
    padding: 60px 0;
  }
  .hero a {
    margin-top: 30px;
    padding: 8px 16px;
    font-size: 10px;
  }

  /* main content (all pages)*/

  section {
    margin: 20px;
    padding: 20px;
  }

  h1 {
    font-size: 48px;
    line-height: 1;
    margin: 30px;
  }
  h2 {
    font-size: 20px;
    line-height: 1;
    text-align: center;
  }

  h3 {
    font-size: 12px;
    line-height: 1;
  }
  main h2 {
    font-size: 30px;
  }

  /* styling classes (all pages, wherever applied*/
  .grid {
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
  .grid-3-columns {
    margin-top: 20px;
  }

  /* card styling (currently only used on homepage*/

  .card {
    margin: 10px 0;
  }
  .card-header img {
    display: none;
  }
  .card-body {
    margin: 20px;
  }

  .card-footer {
    margin: 20px;
  }
  /* footer (all pages)*/
  footer {
    padding: 20px;
  }
}
